.container {
    display: flex;
}

.letter {
    background-color: blue;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    font-size: 2rem;
    font-family: Roboto, sans-serif;
    color: #fff;
    border-radius: 10px;
}

form {
    display: flex;
    justify-content: center;
}

.input-field {
    width: 45%;
    height: 50px;
    font-size: 2rem;
    color: blue;
}

.play-btn {
    background-color: blue;
    color: #fff;
    border: none;
    width: 5%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

h3 {
    text-align: center;
}
